---

# Common
# ------
# These variables are used by all roles.

clean_start: yes
clean_finish: no

fragalysis_version: 0.0.31
nextflow_version: 19.01.0

# The process 'id' is the S3 'tag'
# of the source data ('raw', 'build' or 'standard')
# For example, for the 'ID' that's 'vendor/molport/2018-11'
# you can expect...
#   'raw' molecule data in 'raw/vendor/molport/2018-11'
#   'standardised' molecule data (created by the standardise play)
#       in 'standard/vendor/molport/2018-11'
#   'graph data' (created by the graph-processor play)
#       in 'build/vendor/molport/2018-11'
process_id: vendor/molport/2018-11
process_type: molport

# Input molecules to skip (0 implies none)
process_skip: 0
# Input molecules to process (0 implies all)
process_limit: 0

# Standardisation Variables
# -------------------------
# The following variables are only used by the 'Standardise' role
#
# Prefix for HTS data is typically 'HTS_'
# Prefix for Molport data is typically 'iis_smiles_'
# Prefix for Enamine data is typically a date, i.e. 'Jun2018_'

process_raw_shred_size: 4200
process_raw_prefix: HTS_

standard_dir: afp-standard
s_workflow_dir: afp-s-workflow
s_nextflow_poll_period_minutes: 2

# Graph Processing Variables
# --------------------------
# The following variables are only used by the 'Graph Processor' role

dedupe_dir: afp-gp-dedupe
graph_dir: afp-gp-graph

gp_workflow_dir: afp-gp-workflow
gp_nextflow_poll_period_minutes: 20

process_gp_shred_size: 200
process_gp_chunk_size: 10
process_max_frag: 12
process_standard_number: 2

# Combiner Variables
# ------------------
# The following variables are only used by the 'Combiner' role

combiner_dir: afp-combiner

# The set of build to combine.
# This is a dictionary of one or more builds.
combiner_set:
  senp7:
    id: activity/senp7/v1
    build: 2
    standard: 1
    type: senp7
