---

github-dir: git

workflow_dir: agp-workflow
dedupe_dir: agp-dedupe
graph_dir: agp-graph

clean_start: yes

process_type: senp7
process_skip: 200
process_limit: 50

nextflow_poll_period_minutes: 2
