# Ansible Config file for Cluster deployment.

[defaults]
host_key_checking = False
inventory = ./inventory.yml
remote_user = ec2-user
forks = 1
gathering = smart
fact_caching = jsonfile
fact_caching_connection = ../facts
fact_caching_timeout = 600
log_path = ./ansible.log
nocows = 1
callback_whitelist = profile_tasks

[ssh_connection]
pipelining = True
